# Project
/public
/tmp
/ca
/*.cache

## Pprovided binaries
bin
!bin/gen-ca.sh
!bin/cli

## Environment
/.env
/.env.*
!/.env.dist

# php
/vendor
/composer.lock
/.php-cs-fixer
/tests/coverage

# npm
/node_modules
