<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>{{ appName }}</strong> by <a href="https://github.com/Zarthus">Zarthus</a>
            <br>
            The source code is licensed <a href="https://opensource.org/licenses/mit-license.php">MIT</a> and own artwork
            under <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC BY NC SA 4.0</a> unless
            otherwise specified.
            <br>
            <a href="{{ route('acknowledgements.twig') }}">Acknowledgements</a> &mdash; <a target="_blank" href="https://github.com/zarthus/world">Source Code</a>
        </p>
    </div>
</footer>
