<section id="jumbo-header" class="container is-fullwidth">
    <div class="content has-text-centered">
        <h1>{{ world_name() }}</h1>
        <h3>A Fantasy World created by {{ world_author() }}</h3>
    </div>
    {{ svg('svgrepo.com', 'moon-phases', ['heading-hero-image']) }}
</section>
