<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="{{ asset('favicon.ico') }}" alt="{{ appName }}">
        </a>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ route('/') }}">
                Home
            </a>
            <a class="navbar-item" href="{{ route('/world') }}">
                World
            </a>
        </div>
    </div>
</nav>
