$steel-blue: #4682B4;
$cyan: #00FFFF;
$cadetblue: #5F9EA0;
$darkgreen: #008B00;
$green: #008000;
$palegreen: #98FB98;
$gold: #FFD700;
$yellow: #FFFF00;
$maroon: #B03060;
$purple: #800080;
$lavender: #E6E6FA;
$ghost-white: #F8F8FF;
$prussian-blue: #04395E;
$lightslate: #778899;
$slate: #47525c;
$darkslate: #24292e;

$slate-bis: hsl(209, 13%, 30%);
$slate-ter: hsl(209, 13%, 28%);

$ghost-white-bis: hsl(240, 100%, 97%);
$ghost-white-ter: hsl(240, 100%, 95%);
